//
//  Secret.xcconfig
//  Plantory
//
//  Created by 주민영 on 7/24/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = https:/$()/plantory-api.site/v1/plantory

KAKAO_KEY = 77e9dac04fcf399304279a570d95f904
